name: Playwright Tests
on:
  push:
    branches: [main]
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
      - name: Install dependencies
        run: npm install
      - name: Install Playwright Browsers
        run: npx playwright install --with-deps

      - name: Create Allure results directory
        run: mkdir -p reports/allure-results

      - name: Delete any files if exists
        run: rm -rf allure-results reports/allure-results reports/allure-report

      - name: Check if any files
        run: |
          ls -d allure-results reports/allure-results

      - name: Run Tests
        run: npm run start
        continue-on-error: true

      - name: Check Allure results folder
        run: |
          ls -R reports

      - name: Generate Allure reports
        run: |
          npm run allure:generate

      - name: Upload the file
        uses: actions/upload-artifact@v4
        with:
          name: allure-report
          path: reports/allure-report
      - name: Deploy Allure report to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: reports/allure-report
